<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            color: black;
        }
        .container {
            max-width: 450px;
            margin: 40px auto;
        }
        p {
            font-size:19px;
        }
        .otp {
            font-size: 25px;
            font-weight: bolder;
            letter-spacing: 2px;
            margin: 30px 0px;
        }
        .logo {
            width: 120px;
            margin-bottom: 40px;
        }
        .logo-1 {
            width: 110px;
            margin-bottom: 60px;
        }
        .footer {
            margin-top: 60px;
            background-color: #e4e4e4;
            padding: 40px 30px;
        }

        .footer a {
            font-weight: bold;
            list-style: none;
            text-decoration: none;
        }

        .footer p {
            color: rgb(99, 97, 97);
            font-size: 11px;
            line-height: 20px;
        }
        .author-mail {
            color: rgb(5, 20, 153);
            text-decoration: underline;
            cursor: pointer;
        }
        .author {
            margin: 30px 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>IAStream</h1>
        <p class="author">Hi, <%= name %></p>
        <div>
            <p>Enter this code to reset your password for your account:</p>
        </div>
        <div>
            <p class="otp"><%= otp %></p>
        </div>
        <div>
            <p>
                This code is valid for 10 minutes and can only be used once. By entering this code, you will also confirm the email address associated with your account.
            </p>
        </div>
        <div>
            <p>
                If you didn't attempt to signup, you can safely ignore this email.
            </p>
        </div>

        <div>
            <p>
                Best regards,<br>IAStream
            </p>
        </div>

        <div class="footer">
            <div>
                <p>This message was send to <span class="author-mail"><%= email %></span>. If you have questions or complaints, please <a href="">contact us.</a></p>
            </div>
        </div>
    </div>
</body>
</html>
